/*Style the top nav bar to stick to the top of the page when scrolling*/
/* have top nav bar be transparent */
.topnav {
  background-color: black;
  height: 70;
  top: 10px;
  opacity: 95%;
  overflow: hidden;
  display: inline-block;
  align-items: center;
  gap: 1;
}

.navbar {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
}

/* style the search bar */
.search {
  border: 5px gray;
  border-radius: 40px;
  background-color: white;
  border-color: gray;
  position: relative;
  justify-content: center;
  margin: 0;
  padding: 0;
}

input {
  width: 500px;
  height: 38px;
}

.connect {
  padding: 5px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  margin: 0;
  padding:0;
}

.connect a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: medium;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.banner {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.banner img {
  border-radius: 20px;
}

.explore {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1em;
}

.explore p {
  color: gray;
  font-size: 100px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 350px;
  margin-right: 350px;
}

.banner h1 {
  font-weight: 900;
  font-size: 4em;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.banner p {
  font-size: large;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.banner a {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.container2 {
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 30%;
}

.container3 {
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 30%;
}

.upcoming img {
  max-width: 100%;
}

.upcoming a {
  max-width: 40%;
  display: flex;
  flex-wrap: wrap;
}

.upcoming {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 50%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  gap: 1rem;
}

.solana, .bear, .dino, .scrapes, .luna, .solsand{
  width: 30%;
}

.newcollections {
  width: 300px;
  height: 1500px;
  overflow-y: auto;
  overflow-x: hidden;
  transform:rotate(-90deg) translateY(-100px);;
  transform-origin: right top;
}

.newcollections > img {
  width: 250px;
  height: 250px;
  transform: rotate(90deg);
  transform-origin: right top;
}

.bottomnav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
